* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
  margin-bottom: 75px;
  background-color: #edf2eb;
}

main {
  padding: 16px;
  margin-bottom: 75px;
}

table {
  color: rgb(0, 0, 0);
  font-size: 20px;
}

a {
  text-decoration: none;
  color: #873e23;
  font-size: 25px;
}

footer {
  padding-top: 24px;
  padding-bottom: 24px;
  position: fixed;
  bottom: 0px;
  color: rgb(0, 0, 0);
  background-color: #76b5c5;
  width: 100%;
  height: 30px;
  font-size: 30px;
  text-align: center;
}

img {
  height: 200px;
}

nav {
  color: rgb(0, 0, 0);
  border-bottom: 1px solid black;
  padding: 16px;
  background-color: #ff5a33;
}

tr:nth-child(even) {
  background-color: rgba(220, 220, 220, 0.5);
}

.green-color:hover {
  color: black;
}

#box {
  border-color: black;
  border-style: solid;
  border-width: 2px 8px 4px;
  border-color: 20px solid rgb#873e23;
}

.is-orange {
  background-color: #eab676;
}

h1 {
  color: #052c65;
  font-size: 50px;
  text-align: center;
}

.recipes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.brown-color {
  color: #873e23;
}

li {
  font-size: 20px;
}

.image {
  box-shadow: 0 2px 4px 2px rgb(162, 161, 161);
}

.white-color:hover {
  color: #2fa5c9;
}

.caption {
  font-size: 15px;
  color: #0b0b09;
}
